.navbar {
  background-color: #00cc66;
  padding-bottom:5%;
}


.add-btn {
  float: right;
  background-color: #ccffcc;
  margin: 0.5em;
}

a {
  color: black;
}

#back-to-matches {
  float: left;
  background-color: #ccffcc;
  margin: 1em;
}

h4 {
  color: white;
}

.matches {
  margin: auto;
  width: 60%;
  padding: 5%;
  border: 1px solid #c1c1a4;
  background-color: white;
}

body {
  background-image: url('../images/grasswallpaper.jpg')
}
