body {
  background-color: #ebebe0;
}

.navbar {
  background-color: #00cc66;
  padding-bottom:5%;
}


.add-btn {
  float: right;
  background-color: #ccffcc;
  margin: 0.5em;
}

a {
  color: black;
}

#back-to-matches {
  float: left;
  background-color: #ccffcc;
  margin: 1em;
}

footer {
 background-color: black;
 color: white;
 position: fixed;
 bottom: 0px;
 height: 4em;
 width: 100%;
}

.user_input_box {
  padding-bottom: 1em;
  padding-left: 3em;
}


#send-message {
  float: right;
  color: white;
  margin: 0.5em;
}
