/*#user_name {
  padding: 1em;
}*/

.user_form {
  margin: auto;
  width: 50%;
  max-width: 70%;
  padding: 5%;
  border: 1px solid #c1c1a4;
  background-color: white;
}

body {
  background-image: url('../images/grasswallpaper.jpg')
}
