<!DOCTYPE html>
<html>
<body>
  <section>
    <div>
      <!-- <form action= -->
      <input id="user_name" type="text" placeholder="Name.."> <br>
      <input id="user_age" type="text" placeholder="Age"> <br>
      <!-- <input id="interests" type="text" placeholder="What are your interests?"> -->
      <p> So what are your interests? Select as many as you want! (use ctrl or cmd) </p>
      <select name="activities" multiple>
        <option value="Running">Running</option>
        <option value="Skiing">Skiing</option>
        <option value="Backpacking">Backpacking</option>
        <option value="Lived Abroad">Lived Abroad</option>
        <option value="Foreign Language">Foreign Language</option>
        <option value="Water sports">Water sports</option>
        <option value="Vegetarian">Vegetarian</option>
        <option value="Coffee addict">Coffee addict</option>
        <option value="Theater">Theater</option>
        <option value="Sushi">Sushi</option>
      </select>
    </div>
  </section>
</body>
</html>
