<!DOCTYPE html>
<html>
  <head>
    <title>{{page_title}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{link_to_stylesheet}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{script_source}}"> </script>
  </head>
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <div class="mdl-layout__drawer resizeable">
    <span class="mdl-layout-title resizeable">Welcome to match.me</span>
    <nav class="mdl-navigation resizeable">
      <a class="mdl-navigation__link resizeable" href="/userinput">Create an account</a>
    </nav>
  </div>
</div>
</html>
