<body>
<h4>Time to meet new people!</h4>
  <div class="matches">
  {% for friend in contentArray %}
  <section id="groupsinfo">
    <!-- Wide card with share menu button -->
    <style>
    .demo-card-wide.mdl-card {
      width: 512px;
    }
    .demo-card-wide > .mdl-card__title {
      color: #fff;
      height: 176px;
      background: url('../images/friendship.jpg') center / cover;
    }
    .demo-card-wide > .mdl-card__menu {
      color: #fff;
    }
    </style>

    <div class="demo-card-wide mdl-card mdl-shadow--2dp">

      <div class="mdl-card__title">
          <h2 class="mdl-card__title-text friend_name">{{ friend.friendname }}</h2>
      </div>
      <div class="mdl-card__supporting-text bio">
        {{friend.friendage}}
        <br>
        {{ friend.friendbio }}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Message
        </a>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Meet
        </a>
      </div>

      <div class="mdl-card__menu similar_activities">
        Likes...
        {% for like in friend.friendlikes %}
          <li>{{like}}</li>
        {% endfor %}
      </div>

    </div>
    <br>
    <br>
  </section>
  {% endfor %}
</div>
</body>
</html>
