<body>
  <nav class="navbar">
    <!-- picture of them here -->
    <!-- FAB button -->
    <button class="mdl-button mdl-js-button mdl-button--raised" id="back-to-matches"><a href="/matches"><< Matches</a></button>
    <button class="mdl-button mdl-js-button mdl-button--fab add-btn">
      <i class="material-icons">add</i>
    </button>
  </nav>

  <footer>
    <div class="mdl-textfield mdl-js-textfield user_input_box">
      <input class="mdl-textfield__input" type="text" id="user_input" name="user_input" placeholder="Send a message...">
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised" id="send-message">Send</button>
  </footer>

</body>
