<!DOCTYPE html>
<html>
<body>
  <section>
      <!-- <form action="/saveuserinput" method="post"> -->
        <div>
          <input id="user_name" type="text" placeholder="Name.." name="user_name">
          <br>
          <br>
          <input id="user_age" type="text" placeholder="Age" name="user_age">
          <br>
          <!-- <input id="interests" type="text" placeholder="What are your interests?"> -->
          <p> So what are your interests? Select as many as you want! (use ctrl or cmd) </p>
          <select name="user_likes" multiple>
            <option value="Running" id="like-Running" name="like-Running">Running</option>
            <option value="Skiing" id="like-Skiing" name="like-Skiing">Skiing</option>
            <option value="Backpacking" id="like-Backpacking" name="like-Backpacking">Backpacking</option>
            <option value="Lived Abroad" id="like-Lived Abroad" name="like-Lived Abroad">Lived Abroad</option>
            <option value="Foreign Language" id="like-Foreign Language" name="like-Foreign Language">Foreign Language</option>
            <option value="Water sports" id="like-Water sports" name="like-Water sports">Water sports</option>
            <option value="Vegetarian" id="like-Vegetarian" name="like-Vegetarian">Vegetarian</option>
            <option value="Coffee addict" id="like-Coffee addict" name="like-Coffee addict">Coffee addict</option>
            <option value="Theater" id="like-Theater" name="like-Theater">Theater</option>
            <option value="Sushi" id="like-Sushi" name="like-Sushi">Sushi</option>
          </select>
          <br>
          <br>
          <input id="user_img_link" type="text" name="user_img_link" placeholder="Link to an image of you here...">
          <p> Give us a little info about youself! </p>
          <!-- <input id="user_bio" type="textarea" placeholder="Some ideas to get you started: Favorite animals, songs, quotes..." name="user_bio"> -->
          <textarea id="user_bio" name="user_bio" placeholder="Some ideas to get you started: Favorite animals, songs, quotes..."> </textarea>
          <br>
          <br>
          <select name="user_gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
          <br>
          <br>
        </div>
        <!-- <input type="submit"> -->
        <button id="btn-submit">Submit</button>
      <!-- </form> -->
  </section>
</body>
</html>
