<!DOCTYPE html>
<html>
  <head>
    <title>match.me | Account Settings</title>
    <link rel="stylesheet" href="../css/userinput.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../javascript/script.js"> </script>    
  </head>
<body>
  <section>
      <!-- <form action="/saveuserinput" method="post"> -->
      <form id="user_form">
        <div>
          <input id="user_name" type="text" placeholder="Name.." name="user_name">
          <br>
          <br>
          <input id="user_age" type="text" placeholder="Age" name="user_age">
          <br>
          <!-- <input id="interests" type="text" placeholder="What are your interests?"> -->
          <p> So what are your interests? Select as many as you want! (use ctrl or cmd) </p>
          <select name="user_likes" multiple>
            <option class="user_like" value="Running" id="like-Running" name="like-Running">Running</option>
            <option class="user_like" value="Skiing" id="like-Skiing" name="like-Skiing">Skiing</option>
            <option class="user_like" value="Backpacking" id="like-Backpacking" name="like-Backpacking">Backpacking</option>
            <option class="user_like" value="Lived Abroad" id="like-Lived Abroad" name="like-Lived Abroad">Lived Abroad</option>
            <option class="user_like" value="Foreign Language" id="like-Foreign Language" name="like-Foreign Language">Foreign Language</option>
            <option class="user_like" value="Water sports" id="like-Water sports" name="like-Water sports">Water sports</option>
            <option class="user_like" value="Vegetarian" id="like-Vegetarian" name="like-Vegetarian">Vegetarian</option>
            <option class="user_like" value="Coffee addict" id="like-Coffee addict" name="like-Coffee addict">Coffee addict</option>
            <option class="user_like" value="Theater" id="like-Theater" name="like-Theater">Theater</option>
            <option class="user_like" value="Sushi" id="like-Sushi" name="like-Sushi">Sushi</option>
          </select>
          <br>
          <br>
          <input id="user_img_link" type="text" name="user_img_link" placeholder="Link to an image of you here...">
          <p> Give us a little info about youself! </p>
          <!-- <input id="user_bio" type="textarea" placeholder="Some ideas to get you started: Favorite animals, songs, quotes..." name="user_bio"> -->
          <textarea id="user_bio" name="user_bio" placeholder="Some ideas to get you started: Favorite animals, songs, quotes..."> </textarea>
          <br>
          <br>
          <select name="user_gender">
            <option class="user_gender" value="Male">Male</option>
            <option class="user_gender" value="Female">Female</option>
            <option class="user_gender" value="Other">Other</option>
          </select>
          <br>
          <br>
          <input id="user_zip_code" type="text" name="user_zip_code" placeholder="Please enter your zip code...">
          <button id="btn-submit">Submit</button>
        </div>
        <!-- <input type="submit"> -->
      </form>
  </section>
</body>
</html>
